@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: 0;
    overflow: none;
}

body{
    color:#241f48;
    background-color: #fcf8f8;
}

.container{
   
    display: flex;
    flex-direction: column;
    margin: 3vh 0vw 0vh 0vw;
    font-family: 'Montserrat';
}

/* nav bar */

nav{
    margin: 3vh 5vw 0vh 6vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1.2em;
    margin-right: 1.5vw;
}

.nav-list-items{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.nav-list-item{
    font-size: 18px;
    font-weight: 500;
    color: rgb(167, 167, 167);
}

.nav-button{
    padding: 1em 2em;
    background-color: transparent;
    border: 2px solid #0686EF;
    border-radius: 10px;
    margin-left: 1vw;
    color: linear-;
    background: linear-gradient( to bottom,
         #0f61a5, #56a1df);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    font-weight: 800;
    font-size: 16px;
    font-family: 'poppins';
    letter-spacing: 0.05em;
}

.nav-bars{
    display: none;
}


/* section - 1  till section 3 same*/

.section1{
    margin: 3vh 5vw 0vh 6vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 6vh;
    margin-bottom: 6vh;
    gap: 6vw;
}

.section1-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5vh;    
}

.choose-pacakge-btn{
    background: linear-gradient(to top left,
    #077ad7, #64b9ff);
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 600;
    color: white;
    padding: 1.2em 2em;
    border-radius: 10px;
    border: none;

}

.section1-heading{
    font-size: 50px;
    text-transform: capitalize;
}

.section1-description{
    padding: 1.7em 0em 1em 0em;
    font-size: 16px;
    font-weight: 500;
    line-height: 2em;
}

/* section 2 small change */
.section1_2{
    margin-top: -0.75vh;
}

.section2-image{
    order: 0;
    position: relative;
  
   }

.section2-description{
    order: 1;
}

/* section 4 small change */

.section4-1{
    margin: 1.5vh 5vw 2vh 6vw;
}

.section-4-2{
    margin: 0vh 0vw 10vh 0vw;
}

.section-4-2-1{
    margin: 10vh 5vw 5vh 6vw;
}

.section4_1_right{
    width: 70vw;
}

.service1{
    padding: 1em 0em;
}

/* .services{
    height: 10vh;
    width: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
} */

/* section 5 card section  */

.card-section{
    height: 95vh;
    background: linear-gradient(to top left ,
    #0079fb, #3fb6f6);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card-heading{
    font-size: 36px;
    text-align: center;
    color: #ffffff;
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5em;

}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75vh;
    width: 25vw;
    background-color: #ffffff;
    border-radius: 10px;
}

.card_sec1{
    height: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1em;
    padding: 1.5em;

   
}

.card_sec2{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5em;
}

.card-list{
    list-style-type: none;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: 600;
    margin-bottom: 2em;
    
}

.card_pricing{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.7em;
    margin-bottom: -3em;
}

.card_pricing>h2>span{
    color: #8b8a8a;
    
}

.card-button{
    border-radius: 10px;
    color: #0686EF;
    font-size: 1em;
    font-family: 'Montserrat';
    padding: 1em 1em;
    margin: 0em 3em;
    border: 2px solid #0686EF;
    background-color: transparent;
}

.active_card{
   height: 12vh;
   width: 21vw;
   margin-left: -26px;
   margin-top: -26px;
   background-color: #272628;
   color: #fafafa;
   padding: 20px;
   border-radius: 10px;

}

.card-list> li:before{
  content: "\2714";
  color: #65eaa1;
  font-size: 12px;
  font-weight: 600;
  height: 8px;
  width: 8px;
  padding: 1px;
  border-radius: 50%;
  border: 2px solid #65eaa1;
  margin-right: 1.2em;
}

.card_hover:hover div.card_sec1{
       display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1em;
    padding: 1.5em;
    color: #ffffff;
    height: 12vh;
    background-color: #343232;
    border-radius: 10px;
}

.card_hover:hover button.card-button{
    border-radius: 10px;
    color: #ffffff;
    font-size: 1em;
    font-family: 'Montserrat';
    padding: 1em 1em;
    margin: 0em 3em;
    border: 2px solid #0686EF;
    background: linear-gradient(to top left ,
    #0079fb, #3fb6f6);

}

/* <!-- section 6 customers love us --> */

.section-6{
   margin: 10vh auto;

}

.section6-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 60vw;
    margin: auto;
    height: 20vh;
}

.section6-1>h1{
    font-size: 45px;
    margin-bottom: 2rem;
}

.section6-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
    gap: 2rem;
}

.section6-2-1{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin: auto;
    gap: 2rem;
}

.customer_review{
    background-color: #ffffff;
    border: 0.1em solid #ededed;
    text-align: left;
    width: 38vw;
    height: 22vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    padding: 2rem;
 
}

.author{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2em;
}

.profile{
    height: 4em;
    width: 4em;
    background-color: #cdcdcd;
    border-radius: 50%;
}

.author_name{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.75em;
}

/* ******** Quit Worrying section ******** */

.section7{
    margin: 10vh 0vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 40vh;
    width: 100vw;
    background-image: repeating-linear-gradient(155deg, #35a3fde1 ,#3baaf9f0, #137ffaf9);
}

.section7-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    height: 40vh;
    width: 40vw;
    color: #ffffff;
}

.btn-7{
    padding: 1rem 2.2rem;
    background-color: transparent;
    border-radius: 10px;
    margin-left: 1vw;
    color: #ffffff;
    border: 2px solid #ffffff;
}

/* ******   Footer Section   ******** */

footer{
    padding: 5vh 5vw;
    
}

.footer_section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2em;
}

.footercommon{
    width: 20vw;
    display: flex;
    flex-direction: column;
}

.footerlist{
    height: 20vh;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.5rem;
    
}

.footer1_logo{
    width: 40vw;
    gap: 1.0rem;
}

.footer5{
    gap: 1.5rem;
}

.social_logos{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

@media screen and (min-width:1001px) and (max-width:1250px) {
    
/* nav bar */
nav{
    margin: 3vh 3vw 0vh 3vw;
    
}

.logo{
    display: flex;
    align-items: center;
}

.logo>svg{
    height: 2.5rem;
}

.nav-right{
    margin-right: 0vw;
}

.nav-list-items{
    gap: 1.5rem;
}

.nav-button{
    padding: 0.75em 1.25em;
    font-size: 15px;
}


/* section - 1  till section 3 same*/

.section1-right>svg{
    height: 420px;
}

.section1-heading{
    font-size: 34px;
    text-transform: capitalize;
}

.choose-pacakge-btn{
    font-size: 15px; 
    padding: 1em 1.75em;  
}

/* section 2 small change */

.section2-image>svg{
   height: 350px;
  
   }

/* section 3 small change */

.section1-right>img{
    height: 500px;
   
    }
 

/* 

 */

    
}


@media screen and (min-width:0px) and (max-width:800px){ 

    *{
        padding: 0;
        margin: 0;
        outline: 0;
        overflow-x: hidden;
    }
    /* navbar */

    nav{
        margin: 3vh 3vw 0vh 2vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .logo>svg{
        height: 2rem;
    }

    .nav-list-items{
        display: none;  
    }

    .nav-button{
        display: none;
    }

    .nav-bars{
        display: flex;
    }

    .nav-bars>i{
        font-size: 20px;
    }

    /* section 1 - Great Websites */

    .section1{ 
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        margin-top: 6vh;
        margin-bottom: 8vh;
        gap: 5vw;
    }

    .section1-right>svg{
        height: 330px;
    }

    .section1-left{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
    }

    .section1-heading{
        font-size: 24px;
        text-transform: capitalize;
    } 

    .section1-description{
        padding: 1.7em 0em 1em 0em;
        font-size: 15px;
        font-weight: 500;
        line-height: 2em;
        text-align: left;
    }

    .choose-pacakge-btn{
        font-size: 13px;
    }

    /* section 2 - We provide Best Quality */

    .section2{
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 2vh;
    }

    .section2-description{
        order: 1;
    }

    .section2-image{
        order: 2;
    }

    .section2-image>svg{
        height: 250px;
        
    }

    /* section 3 - Technical Support  */
    .section3{
        display: flex;
        gap: 0px;
    }

    .section1-right>img{
        height: 400px;
    }

    /* section 4-1 - Services we provide */

    .section4-1{
        display: flex;
        flex-direction: column;
        gap: 0vh;
    }

    /* section 4-2 Services we provide */
    
    .section-4-2-1{
        flex-direction: column;
    }

    .services>img, .services>div>svg{
        height: 45px;
    }

    
    .service1,.service-heading{
        font-size: 20px;
    }

    .service-heading3{
        display: flex;
        align-items: flex-start;
        
    }

    /* section 5 - plans cards section */

    .card-section{
        height: 240vh;
        background: linear-gradient(to top left ,
        #0079fb, #3fb6f6);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.5em;
    
    }

    .card-heading{
        font-size: 26px;
        text-align: center;
        color: #ffffff;
    }

    .card{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 550px;
        width: 350px;
        background-color: #ffffff;
        border-radius: 10px;
    }
   
    .card_sec1{
        height: 12vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1em;
        padding: 1em;
        padding-left: 1.2rem;
    
       
    }

    .card_sec2{
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1em;
    } 

    .card-list{
        list-style-type: none;
        height: 22vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-weight: 600;
        margin-bottom: 0em;
        
    }

    .card-list> li:before{
        content: "\2714";
        color: #65eaa1;
        font-size:9px;
        font-weight: 500;
        height: 4px;
        width: 4px;
        padding: 1px;
        border-radius: 50%;
        border: 1px solid #65eaa1;
        margin-right: 1.2em;
    }

    .card_pricing{
        text-align: center;
        display: flex;
        flex-direction: column;
        font-size: 14px;
        gap: 0.7em;
        
    }

    /* section 6-1 */

    .section-6{
        margin: 8vh auto;
     
     }

     .section6-1{
        max-width: 70vw;  
    }

     .section6-1>h1{
        font-size: 22px;
        margin-bottom: 1rem;
    }

    .service-description{
        font-size: 15px;
        text-align: left;
    }

 /* section 6-2 */

    .section6-2-1{
     
       
        flex-direction: column;
        
        
    }

    .customer_review{
        background-color: #ffffff;
        border: 0.1em solid #ededed;
        text-align: left;
        width: 60vw;
        height: 22vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-radius: 10px;
        padding: 1.2rem;
        font-size: 14px;
     
    }

    .profile{
        height: 3em;
        width: 3em;
        background-color: #cdcdcd;
        border-radius: 50%;
    }
    
    .author_name{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 0.75em;
    }

    .autohr_name>h3{
        font-size: 16px;
    }
    
    /* section 7 */

    .section7{
        margin: 6vh 0vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5rem;
        height: 38vh;
        width: 100vw;
        background-image: repeating-linear-gradient(155deg, #35a3fde1 ,#3baaf9f0, #137ffaf9);
    }

    .section7-left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;
        height: 25vh;
        width: 85vw;
        color: #ffffff;
    }

    .section7-left>h1{
        font-size: 22px;
    }

    .section7-left>p{
        padding: 0rem;
    }

    .btn-7{
        padding: 0.75rem 2rem;
    }
    
    /* Footer Section */

    footer{
        padding: 3vh 3vw;
        
    }
    
    .footer_section{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 1em;
    }

    .footer1_logo{
        height: 32vh;
        width: 25vw;
        gap: 1.0rem;
    }

    .footer1_logo>p{
        display: none;
    }

    .footerlist{
        height: 20vh;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1rem;
        font-size: 13px;
        
    }

    .footer5{
        font-size: 14px;
        gap: 1.5rem;
    }
   
 
}


@media screen and (min-width:801px) and (max-width:1000px){ 

    *{
        padding: 0;
        margin: 0;
        outline: 0;
        overflow-x: hidden;
    }
    /* navbar */

    nav{
        margin: 3vh 2vw 0vh 2vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .logo>svg{
        height: 2rem;
    }
        
    .nav-list-items{
        list-style-type: none;
        display: flex;
        flex-direction: row;
        gap: 1.75rem;
    }

    .nav-list-item{
        font-size: 15px;
        font-weight: 500;
        color: rgb(167, 167, 167);
    }


    .nav-button{
        padding: 0.4em 0.8em;
        background-color: transparent;
        border: 2px solid #0686EF;
        border-radius: 10px;
        margin-left: 0.5vw;
        background: linear-gradient( to bottom,
             #0f61a5, #56a1df);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
        font-weight: 800;
        font-size: 12px;
        font-family: 'poppins';
        letter-spacing: 0.05em;
    }

    .nav-bars{
        display: none;
    }


    /* section 1 - Great Websites */

    .section1{ 
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        margin-top: 6vh;
        margin-bottom: 8vh;
        gap: 5vw;
    }

    .section1-right>svg{
        height: 440px;
    }

    .section1-left{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
    }

    .section1-heading{
        font-size: 28px;
        text-transform: capitalize;
    } 

    .section1-description{
        padding: 1.7em 0em 1em 0em;
        font-size: 15px;
        font-weight: 500;
        line-height: 2em;
        text-align: left;
    }

    .choose-pacakge-btn{
        font-size: 15px;
    }

    /* section 2 - We provide Best Quality */

    .section2{
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 2vh;
    }

    .section2-description{
        order: 1;
    }

    .section2-image{
        order: 2;
    }

    .section2-image>svg{
        height: 350px;
        
    }

    /* section 3 - Technical Support  */
    .section3{
        display: flex;
        gap: 0px;
    }

    .section1-right>img{
        height: 470px;
    }

    /* section 4-1 - Services we provide */

    .section4-1{
        display: flex;
        flex-direction: column;
        gap: 0vh;
    }

    /* section 4-2 Services we provide */
    
    .section-4-2-1{
        flex-direction: column;
    }

    .services>img, .services>div>svg{
        height: 45px;
    }

    
    .service1,.service-heading{
        font-size: 20px;
    }

    .service-heading3{
        display: flex;
        align-items: flex-start;
        
    }

    /* section 5 - plans cards section */

    .card-section{
        height: 240vh;
        background: linear-gradient(to top left ,
        #0079fb, #3fb6f6);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.5em;
    
    }

    .card-heading{
        font-size: 26px;
        text-align: center;
        color: #ffffff;
    }

    .card{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 550px;
        width: 350px;
        background-color: #ffffff;
        border-radius: 10px;
    }
   
    .card_sec1{
        height: 12vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1em;
        padding: 1em;
        padding-left: 1.2rem;
    
       
    }

    .card_sec2{
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1em;
    } 

    .card-list{
        list-style-type: none;
        height: 22vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-weight: 600;
        margin-bottom: 0em;
        
    }

    .card-list> li:before{
        content: "\2714";
        color: #65eaa1;
        font-size:9px;
        font-weight: 500;
        height: 4px;
        width: 4px;
        padding: 1px;
        border-radius: 50%;
        border: 1px solid #65eaa1;
        margin-right: 1.2em;
    }

    .card_pricing{
        text-align: center;
        display: flex;
        flex-direction: column;
        font-size: 14px;
        gap: 0.7em;
        
    }

    /* section 6-1 */

    .section-6{
        margin: 8vh auto;
     
     }

     .section6-1{
        max-width: 70vw;  
    }

     .section6-1>h1{
        font-size: 22px;
        margin-bottom: 1rem;
    }

    .service-description{
        font-size: 15px;
        text-align: left;
    }

 /* section 6-2 */

    .section6-2-1{
     
       
        flex-direction: column;
        
        
    }

    .customer_review{
        background-color: #ffffff;
        border: 0.1em solid #ededed;
        text-align: left;
        width: 60vw;
        height: 22vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-radius: 10px;
        padding: 1.2rem;
        font-size: 14px;
     
    }

    .profile{
        height: 3em;
        width: 3em;
        background-color: #cdcdcd;
        border-radius: 50%;
    }
    
    .author_name{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 0.75em;
    }

    .autohr_name>h3{
        font-size: 16px;
    }
    
    /* section 7 */

    .section7{
        margin: 6vh 0vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5rem;
        height: 38vh;
        width: 100vw;
        background-image: repeating-linear-gradient(155deg, #35a3fde1 ,#3baaf9f0, #137ffaf9);
    }

    .section7-left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;
        height: 25vh;
        width: 85vw;
        color: #ffffff;
    }

    .section7-left>h1{
        font-size: 22px;
    }

    .section7-left>p{
        padding: 0rem;
    }

    .btn-7{
        padding: 0.75rem 2rem;
    }
    
    /* Footer Section */

    footer{
        padding: 3vh 3vw;
        
    }
    
    .footer_section{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 1em;
    }

    .footer1_logo{
        height: 32vh;
        width: 25vw;
        gap: 1.0rem;
    }

    .footer1_logo>p{
        display: none;
    }

    .footerlist{
        height: 20vh;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1rem;
        font-size: 13px;
        
    }

    .footer5{
        font-size: 14px;
        gap: 1.5rem;
    }

 
}

@media screen and (min-width:1001px) and (max-width:1350px) {


    .card{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 590px;
        width: 340px;
        background-color: #ffffff;
        border-radius: 10px;
    }
    
    
}

@media screen and (min-width:0px) and (max-width:500px) {


    .card{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 525px;
        width: 312px;
        background-color: #ffffff;
        border-radius: 10px;
    }

    .card-button{
        font-size: 14px;
        padding: 0.6em 0.75em;
        margin: 0em 3em;
    }

    /* section 6-1 */

    .section-6{
        margin: 8vh auto;
     
     }

     .section6-1{
        max-width: 75vw;  
    }

     .section6-1>h1{
        font-size: 19px;
        margin-bottom: 1rem;
    }

    .service-description{
        font-size: 13px;
        text-align: left;
    }

    /* section 6-2 */

    .customer_review{
        background-color: #ffffff;
        border: 0.1em solid #ededed;
        text-align: left;
        width: 70vw;
        height: 27vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-radius: 10px;
        padding: 1.2rem;
        font-size: 14px;
     
    }

    /* footer */
        
    footer{
        padding: 2vh 7vw;
        
    }

    .footer_section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 2em;
    }

    .footercommon{
        width: 35vw;
        display: flex;
        flex-direction: column;
    }

    .footerlist{
        height: 22vh;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1rem;
        font-size: 13px;
        
    }

    .footerlist>li{
        text-align: left;
    }

    .footer1_logo{
        width: 100vw;
        height: 5vh;
    }

    .footer2,.footer4{
        margin-left: 2vh;
    }

    .footer5{
        gap: 1.5rem;
        align-self: center;
    }

    .footer5>h3{
        display: none;
        
    }

    .social_logos{
        
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
    }

}
